body {
  background-color: #f8f8ff;
  color: #30002f;

  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

main {
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 12vmin;
}

p {
  font-weight: 400;
  font-size: 3vmin;
}
